.pas__display-product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pas__display-product-item-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pas__display-product-item-img .pas__item {
    height: 270px;
    width: 270px;
}

.pas__display-product-item-thumb {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.pas__display-product-item-thumb .pas__item {
    height: 40px;
    width: 40px;
}

.pas__display-product-item-thumb .pas__item:hover {
    border: solid 1px black;
}