.pas__footer-container {
    background-color: #181818;
    color: #BFBFBF;
}

.pas__footer-content {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 260px;
}



.pas__footer-empresa-container {
    background-color: #2E2D2D;
    color: #666464;
}

.pas__footer-empresa-content {
    font-size: 13px;
    padding: 7px 0;
}

.pas__footer-list {
    text-align: left;
}